.wp-block-button__link {
  border: none !important;
  }

.wp-block-button__link:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
  }

.wp-block-button__link[href*="portfolio"]:hover {
    background-color: #F2F0EC !important;
    color: #4e4d4d !important;
    text-decoration: underline !important;
  }

.wp-block-button__link[href*="om-oss"]:hover {
    background-color: #ffffff60 !important;
    color: #000000 !important;
  }
  
.wp-block-button__link[href*="kontakt"]:hover {
    background-color: #7c6758 !important;
    color: #ffffff !important;
  }

.has-lead-font-size a{
    color: #636363 !important;
    text-decoration: none !important;
  }

.has-lead-font-size a:hover {
  color: #4e4d4d !important;
  text-decoration: underline !important;
  }